body {
    font-family: 'Luckiest Guy', cursive;
    font-size: 22px;
    background-image: url("https://images.unsplash.com/photo-1609414558965-3bec66c06de7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size: 1450px;
    color: #5E454B;
}

h1 {
    text-align: center;
    color: #5E454B;
    font-size: 48px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    margin: 40px 400px 50px 220px;
    gap: 30px;
    width: 500px;
}

#buttons-container { 
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px;
    flex-direction: column;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-radius: 10px;
}

.highlight {
    background-color: pink;
}

#colourpicker {
    width: 165px;
    height: 30px;
}

#grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: white;
}

.grid-square {
    border: 0.1px solid rgb(0, 0, 0);
}

